body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

section.banner .banner_container::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(0 98%, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 98%, 0 100%, 100% 100%, 100% 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 576px) {
  section.banner .banner_container::after {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
section.banner .banner_container {
  position: relative;
}
section.banner .banner_container .txt {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 10%;
  text-align: right;
  line-height: 80px;
}
@media (max-width: 1199px) {
  section.banner .banner_container .txt {
    line-height: 64px;
  }
}
@media (max-width: 767px) {
  section.banner .banner_container .txt {
    line-height: 32px;
  }
}
@media (max-width: 576px) {
  section.banner .banner_container .txt {
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    right: 50%;
    translate: 50% 0;
  }
}
section.banner .banner_container .txt p {
  font-size: clamp(14px, 2.5vw, 40px);
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
}
@media (max-width: 576px) {
  section.banner .banner_container .txt p {
    padding: 0 10px;
  }
}
section.banner .banner_container .txt p span {
  padding: 0 5px;
  text-shadow: 2px 2px #333;
}
section.banner .banner_container .txt p span:first-child {
  color: #e89b04;
  font-weight: bold;
}
section.banner .banner_container .txt p span:last-child {
  color: #5cc60a;
  font-weight: bold;
}
section.banner .banner_container .pic {
  aspect-ratio: 12/5;
}
section.banner .banner_container .pic img {
  width: 100%;
  height: 100%;
}

section.introduction .in_container {
  width: 100%;
  margin: auto;
  padding: 50px 0;
}
@media (max-width: 1199px) {
  section.introduction .in_container {
    width: 80%;
  }
}
section.introduction .in_container .card {
  width: 100%;
  padding: 20px 0;
  gap: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 576px) {
  section.introduction .in_container .card {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
}
section.introduction .in_container .card .pic {
  width: 300px;
}
@media (max-width: 767px) {
  section.introduction .in_container .card .pic {
    width: 100%;
  }
}
section.introduction .in_container .card .pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.introduction .in_container .card .txt {
  width: 700px;
}
@media (max-width: 767px) {
  section.introduction .in_container .card .txt {
    width: 100%;
  }
}
section.introduction .in_container .card .txt h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
section.introduction .in_container .card .txt ul {
  font-family: "Noto Sans TC", sans-serif;
  list-style: disc;
  line-height: 30px;
}
@media (max-width: 576px) {
  section.introduction .in_container .card:nth-child(2) .pic {
    order: 1;
  }
  section.introduction .in_container .card:nth-child(2) .txt {
    order: 2;
  }
  section.introduction .in_container .card:nth-child(4) .pic {
    order: 1;
  }
  section.introduction .in_container .card:nth-child(4) .txt {
    order: 2;
  }
}

.returnTop {
  position: fixed;
  top: 70vh;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}
.returnTop .circle {
  background-color: #0369b5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.returnTop .circle .arrow_up {
  color: #fff;
  position: relative;
  left: 10px;
  top: 10px;
}

.fade {
  opacity: 1;
  transition: all 0.5s;
}/*# sourceMappingURL=about.css.map */