@charset "UTF-8";
body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.course_overview {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../activity_pic/Class.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
}
.course_overview .co_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  width: 90%;
  margin: auto;
}
.course_overview .co_container .co_header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 50px;
}
@media (max-width: 576px) {
  .course_overview .co_container .co_header {
    padding: 50px 0;
    display: block;
  }
}
.course_overview .co_container .co_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  flex-grow: 10;
}
.course_overview .co_container .co_header .filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 576px) {
  .course_overview .co_container .co_header .filter {
    padding: 20px 0;
  }
}
.course_overview .co_container .co_header .filter .selection {
  display: flex;
  align-items: center;
  color: #0369b5;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  width: 200px;
  padding: 5px 0;
}
.course_overview .co_container .co_header .filter .selection select {
  flex-grow: 1;
  padding: 5px 0;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  letter-spacing: 2px;
}
.course_overview .co_container .co_header .filter .sort_by {
  display: flex;
  align-items: center;
  color: #0369b5;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  width: 200px;
}
.course_overview .co_container .co_header .filter .sort_by select {
  flex-grow: 1;
  padding: 5px 0;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  letter-spacing: 2px;
}
.course_overview .co_container .content .container {
  width: 100%;
}
@media (max-width: 576px) {
  .course_overview .co_container .content .container {
    width: 90%;
  }
}
.course_overview .co_container .content .container .row .col-12 .card,
.course_overview .co_container .content .container .row .col-xl-6 .card {
  display: flex;
}
.course_overview .co_container .content .container .row .col-12 .card .pic,
.course_overview .co_container .content .container .row .col-xl-6 .card .pic {
  width: 200px;
  height: 200px;
}
.course_overview .co_container .content .container .row .col-12 .card .pic img,
.course_overview .co_container .content .container .row .col-xl-6 .card .pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.course_overview .co_container .content .container .row .col-12 .card .txt,
.course_overview .co_container .content .container .row .col-xl-6 .card .txt {
  width: 100%;
  height: 300px;
  padding: 0 10px;
}
.course_overview .co_container .content .container .row .col-12 .card .txt h3,
.course_overview .co_container .content .container .row .col-xl-6 .card .txt h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 20px;
  color: #e89b04;
}
.course_overview .co_container .content .container .row .col-12 .card .txt p,
.course_overview .co_container .content .container .row .col-xl-6 .card .txt p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 32px;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.course_overview .co_container .immediately {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course_overview .co_container .immediately a {
  background: #0369b5;
  border-bottom: 1px solid;
  border-radius: 10px;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
  text-align: center;
}
.course_overview .co_container .immediately a:hover {
  background: #0369b5;
  color: #fff;
}
.course_overview .co_container .immediately .btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.course_overview .co_container .immediately .btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(3, 105, 181, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.course_overview .co_container .immediately .btn-5:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(3, 105, 181, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.returnTop {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 20;
}
.returnTop .circle {
  background-color: #0369b5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.returnTop .circle .arrow_up {
  color: #fff;
  position: relative;
  left: 10px;
  top: 10px;
}/*# sourceMappingURL=activity.css.map */