body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.recruit_container {
  .recruit_banner::before {
    content: "";
    display: block;
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .recruit_banner {
    position: relative;
    .txt {
      position: absolute;
      width: 100%;
      top: 25%;
      right: 50%;
      transform: translate(50%, 0);
      z-index: 1;
      text-align: center;
      line-height: 60px;
      @media (max-width: 1199px) {
        line-height: 40px;
      }
      @media (max-width: 399px) {
        width: 90%;
        line-height: 24px;
        top: 0;
      }
      h3 {
        font-size: clamp(16px, 2.5vw, 40px);
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 500;
        color: #fff;
      }
      p {
        font-size: clamp(12px, 1.6vw, 32px);
        font-family: "Noto Sans TC", sans-serif;
        color: #fff;
      }
    }
    .pic {
      aspect-ratio: 12/5;
      position: relative;
      z-index: -2;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .recruit_content {
    margin: 40px 0;
    @media (max-width: 576px) {
      margin: 40px 40px;
    }
    .position {
      h3 {
        background-image: url(../recruit_pic/wepik-export-202404101422534Iiz-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 200px 150px;
        background-position: left 50% top 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: bold;
        color: #e89b04;
        height: 50px;
        width: 100%;
        margin: auto;
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
      ul {
        text-align: center;
        font-size: 20px;
        font-family: "Noto Sans TC", sans-serif;
        color: #333;
        li {
          padding: 10px 0;
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }
      }
    }
    .apply {
      margin: 20px 0;
      h3 {
        background-image: url(../recruit_pic/wepik-export-202404101422534Iiz-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 200px 150px;
        background-position: left 50% top 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: bold;
        color: #e89b04;
        height: 50px;
        width: 100%;
        margin: auto;
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
      p {
        text-align: center;
        font-size: 20px;
        font-family: "Noto Sans TC", sans-serif;
        color: #333;
        padding: 10px 0;
        line-height: 32px;
        @media (max-width: 576px) {
          font-size: 16px;
        }
      }
    }
    .contact {
      margin: 20px 0;
      h3 {
        background-image: url(../recruit_pic/wepik-export-202404101422534Iiz-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 200px 150px;
        background-position: left 50% top 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: bold;
        color: #e89b04;
        height: 50px;
        width: 100%;
        margin: auto;
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
      ul {
        text-align: center;
        font-size: 20px;
        font-family: "Noto Sans TC", sans-serif;
        color: #333;
        li {
          padding: 10px 0;
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
