body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.form_container {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .form_container {
    width: 100%;
  }
}
.form_container .content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1;
}
.form_container h2 {
  padding: 50px 0 0;
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.form_container .content {
  margin: 50px 0;
  width: 100%;
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .form_container .content {
    display: block;
  }
}
.form_container .content .introduction {
  width: 60%;
  height: 600px;
  background-image: url(../reservation_pic/Rectangle\ 102.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .form_container .content .introduction {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .form_container .content .introduction {
    height: 200px;
  }
}
.form_container .content .card_list {
  width: 50%;
  display: flex;
  position: absolute;
  top: 30%;
  left: 5%;
}
@media screen and (max-width: 899px) {
  .form_container .content .card_list {
    width: 400px;
    left: 2%;
  }
}
@media (max-width: 767px) {
  .form_container .content .card_list {
    width: 80%;
    top: 20px;
    left: 50%;
    translate: -50% 0;
  }
}
@media (max-width: 370px) {
  .form_container .content .card_list {
    left: 20%;
    translate: -20% 0;
  }
}
.form_container .content .card_list .card {
  width: 25%;
  height: 250px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card {
    height: 150px;
    min-width: 100px;
  }
}
.form_container .content .card_list .card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card h3 {
    font-size: 16px;
  }
}
.form_container .content .card_list .card .price {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card .price {
    font-size: 20px;
  }
}
.form_container .content .card_list .card .btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 3px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card .btn {
    font-size: 14px;
    text-transform: unset;
  }
}
.form_container .content .card_list .card .btn-1 {
  font-weight: 100;
}
.form_container .content .card_list .card .btn-1 svg {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.form_container .content .card_list .card .btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card .btn-1 rect {
    transition: unset;
  }
}
.form_container .content .card_list .card .btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 576px) {
  .form_container .content .card_list .card .btn-1:hover {
    font-weight: 0;
    letter-spacing: unset;
  }
}
.form_container .content .card_list .card .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 60, 90;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 576px) {
  .form_container .content .card_list .card .btn-1:hover rect {
    stroke-width: unset;
    stroke-dasharray: unset;
    stroke-dashoffset: unset;
    transition: unset;
  }
}
.form_container .content .card_list .card:nth-child(1) {
  background-color: #0369b5;
}
.form_container .content .card_list .card:nth-child(2) {
  background-color: #e89b04;
  height: 300px;
  width: 200px;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 899px) {
  .form_container .content .card_list .card:nth-child(2) {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .form_container .content .card_list .card:nth-child(2) {
    height: unset;
    top: 0;
    width: 25%;
  }
}
@media (max-width: 576px) {
  .form_container .content .card_list .card:nth-child(2) {
    width: 100px;
  }
}
.form_container .content .card_list .card:nth-child(3) {
  background-color: #5cc60a;
}
.form_container .form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 899px) {
  .form_container .form {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .form_container .form {
    width: 100%;
    gap: 20px;
    height: 400px;
  }
}
@media (max-width: 576px) {
  .form_container .form {
    padding: 10px;
    height: 500px;
  }
}
.form_container .form div {
  display: flex;
  align-items: center;
  width: 300px;
}
@media (max-width: 767px) {
  .form_container .form div {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .form_container .form div {
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }
}
.form_container .form div label {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 5px;
}
@media (max-width: 576px) {
  .form_container .form div label {
    padding: 10px 0;
  }
}
.form_container .form div select {
  padding: 5px 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  letter-spacing: 2px;
  flex-grow: 1;
}
@media (max-width: 576px) {
  .form_container .form div select {
    margin: 5px 0;
  }
}
.form_container .form div input {
  flex-grow: 1;
  letter-spacing: 2px;
  padding: 5px 5px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}
@media (max-width: 576px) {
  .form_container .form div input {
    margin: unset;
  }
}
.form_container .form div a {
  background: #0369b5;
  border-bottom: 1px solid;
  border-radius: 10px;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
  text-align: center;
}
.form_container .form div a:hover {
  background: #0369b5;
  color: #fff;
}
@media (max-width: 767px) {
  .form_container .form div a:hover {
    background: unset;
    color: unset;
  }
}
.form_container .form div .btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 2px 10px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 80px;
}
.form_container .form div .btn-5 {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(3, 105, 181, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.form_container .form div .btn-5:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(3, 105, 181, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
@media (max-width: 767px) {
  .form_container .form div .btn-5:hover {
    box-shadow: unset;
    outline-color: unset;
    outline-offset: unset;
    text-shadow: unset;
  }
}
.form_container .form div .reset {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  border-bottom: 1px solid;
  width: 80px;
  margin: auto;
}
@media (max-width: 767px) {
  .form_container .form div .reset {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .form_container .form div.icon {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .form_container .form div.icon {
    flex-direction: row;
  }
}/*# sourceMappingURL=reservation.css.map */