body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.explore {
  background-image: url(../index_pic/燒瓶-removebg-preview.png),
    url(../index_pic/分子模型\ 5.png), url(../resource_center_pic/Article.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
  @media screen and (max-width: 767px) {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
  @media screen and (max-width: 567px) {
    background-size: 150px 250px, 300px 200px, 300px 50px;
  }
  .ex_container {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    .ex_header {
      h2 {
        color: #0369b5;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
      }
    }
    .wrap {
      padding-top: 50px;
      width: 1020px;
      margin: auto;
      @media screen and (max-width: 1199px) {
        width: 680px;
      }
      @media screen and (max-width: 767px) {
        width: 340px;
      }
      @media screen and (max-width: 399px) {
        width: 280px;
      }
      .article_list {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        scroll-behavior: smooth;
        overflow: hidden;
        .article {
          width: 300px;
          padding: 0 20px;
          cursor: pointer;
          @media screen and (max-width: 399px) {
            width: 280px;
          }
          .pic {
            width: 300px;
            @media screen and (max-width: 399px) {
              width: 280px;
            }
            img {
              width: 100%;
            }
          }
          .txt {
            p {
              font-family: "Noto Sans TC", sans-serif;
              line-height: 28px;
              color: #333;
              padding: 2px 0;
            }
          }
        }
      }
    }

    .icon {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .arrow_left {
        button {
          background-color: #0369b5;
          margin: 0 30px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          position: relative;
          cursor: pointer;
        }
        svg {
          position: absolute;
          top: 2px;
          left: 8px;
        }
      }
      .arrow_right {
        button {
          background-color: #0369b5;
          margin: 0 30px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          position: relative;
          cursor: pointer;
          svg {
            position: absolute;
            top: 2px;
            right: 8px;
          }
        }
      }
    }
  }
}
.library {
  background-image: url(../index_pic/燒瓶-removebg-preview.png),
    url(../index_pic/分子模型\ 5.png), url(../resource_center_pic/Books.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
  @media screen and (max-width: 767px) {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
  @media screen and (max-width: 567px) {
    background-size: 150px 250px, 300px 200px, 300px 50px;
  }
  .li_container {
    width: 100%;
    padding: 50px 0;
    position: relative;
    .li_header {
      // padding: 0 50px;
      h2 {
        color: #0369b5;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
      }
    }
    .books_list {
      .row {
        .col-12,
        .col-md-6,
        .col-xl-3 {
          .books {
            width: 90%;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .pic {
              img {
                width: 100%;
              }
            }
            .txt {
              width: 200px;
              p {
                font-family: "Noto Sans TC", sans-serif;
                line-height: 28px;
                color: #333;
                padding: 2px 0;
              }
            }
          }
        }
      }
    }
    .books_icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 50px;
      .books_txt {
        a {
          text-decoration: none;
          font-weight: bold;
          color: #636581;
          border-bottom: 1px solid #636581;
        }
      }
    }
  }
}
.returnTop {
  position: fixed;
  top: 70vh;
  right: 0;
  z-index: 2;
  .circle {
    background-color: #0369b5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    .arrow_up {
      color: #fff;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }
}
