@charset "UTF-8";
body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.explore {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../resource_center_pic/Article.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
}
@media screen and (max-width: 767px) {
  .explore {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
}
@media screen and (max-width: 567px) {
  .explore {
    background-size: 150px 250px, 300px 200px, 300px 50px;
  }
}
.explore .ex_container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
.explore .ex_container .ex_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.explore .ex_container .wrap {
  padding-top: 50px;
  width: 1020px;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .explore .ex_container .wrap {
    width: 680px;
  }
}
@media screen and (max-width: 767px) {
  .explore .ex_container .wrap {
    width: 340px;
  }
}
@media screen and (max-width: 399px) {
  .explore .ex_container .wrap {
    width: 240px;
  }
}
.explore .ex_container .wrap .article_list {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  scroll-behavior: smooth;
  overflow: hidden;
}
.explore .ex_container .wrap .article_list .article {
  width: 300px;
  padding: 0 20px;
  cursor: pointer;
}
@media screen and (max-width: 399px) {
  .explore .ex_container .wrap .article_list .article {
    width: 220px;
  }
}
.explore .ex_container .wrap .article_list .article .pic {
  width: 300px;
}
@media screen and (max-width: 399px) {
  .explore .ex_container .wrap .article_list .article .pic {
    width: 220px;
  }
}
.explore .ex_container .wrap .article_list .article .pic img {
  width: 100%;
}
.explore .ex_container .wrap .article_list .article .txt p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 28px;
  color: #333;
  padding: 2px 0;
}
.explore .ex_container .icon {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.explore .ex_container .icon .arrow_left button {
  background-color: #0369b5;
  margin: 0 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}
.explore .ex_container .icon .arrow_left svg {
  position: absolute;
  top: 2px;
  left: 8px;
}
.explore .ex_container .icon .arrow_right button {
  background-color: #0369b5;
  margin: 0 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}
.explore .ex_container .icon .arrow_right button svg {
  position: absolute;
  top: 2px;
  right: 8px;
}

.library {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../resource_center_pic/Books.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
}
@media screen and (max-width: 767px) {
  .library {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
}
@media screen and (max-width: 567px) {
  .library {
    background-size: 150px 250px, 300px 200px, 300px 50px;
  }
}
.library .li_container {
  width: 100%;
  padding: 50px 0;
  position: relative;
}
.library .li_container .li_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.library .li_container .books_list .row .col-12 .books,
.library .li_container .books_list .row .col-md-6 .books,
.library .li_container .books_list .row .col-xl-3 .books {
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.library .li_container .books_list .row .col-12 .books .pic img,
.library .li_container .books_list .row .col-md-6 .books .pic img,
.library .li_container .books_list .row .col-xl-3 .books .pic img {
  width: 100%;
}
.library .li_container .books_list .row .col-12 .books .txt,
.library .li_container .books_list .row .col-md-6 .books .txt,
.library .li_container .books_list .row .col-xl-3 .books .txt {
  width: 200px;
}
.library .li_container .books_list .row .col-12 .books .txt p,
.library .li_container .books_list .row .col-md-6 .books .txt p,
.library .li_container .books_list .row .col-xl-3 .books .txt p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 28px;
  color: #333;
  padding: 2px 0;
}
.library .li_container .books_icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
}
.library .li_container .books_icon .books_txt a {
  text-decoration: none;
  font-weight: bold;
  color: #636581;
  border-bottom: 1px solid #636581;
}

.returnTop {
  position: fixed;
  top: 70vh;
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.returnTop .circle {
  background-color: #0369b5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.returnTop .circle .arrow_up {
  color: #fff;
  position: relative;
  left: 10px;
  top: 10px;
}

.fade {
  opacity: 1;
  transition: all 0.5s;
}/*# sourceMappingURL=resource_center.css.map */