@charset "UTF-8";
body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

section.banner .bn_container {
  position: relative;
}
section.banner .bn_container .slogan {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 2;
}
section.banner .bn_container .slogan p {
  font-size: clamp(20px, 3.9vw, 60px);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  line-height: clamp(40px, 7vw, 120px);
  color: #333;
  text-shadow: 2px 2px 10px #fff;
}
section.banner .bn_container .carousel {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
section.banner .bn_container .carousel .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
}
section.banner .bn_container .carousel .carousel-item .slide-image {
  aspect-ratio: 16/7;
  margin: auto;
}
@media screen and (max-width: 767px) {
  section.banner .bn_container .carousel .carousel-item .slide-image {
    aspect-ratio: 4/3;
  }
}
section.banner .bn_container .carousel .carousel-item .slide-image img {
  width: 100%;
  height: 100%;
}
section.banner .bn_container .carousel .active {
  left: 0;
  transition: all 0.3s ease-out;
}

section.feature {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../index_pic/Feature.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
}
section.feature .ft_container {
  width: 1200px;
  margin: auto;
  padding-top: 100px;
}
section.feature .ft_container .ft_header {
  padding: 0 50px;
}
section.feature .ft_container .ft_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
section.feature .ft_container .ft_content {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}
section.feature .ft_container .ft_content .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  gap: 50px;
  width: 200px;
}
section.feature .ft_container .ft_content .txt ul {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  font-size: 20px;
  list-style: disc;
}
section.feature .ft_container .ft_content .txt ul .slogan_1 {
  color: #0369b5;
}
section.feature .ft_container .ft_content .txt ul .slogan_2 {
  color: #e89b04;
  margin-left: 30px;
}
section.feature .ft_container .ft_content .txt ul .slogan_3 {
  color: #5cc60a;
  margin-left: 60px;
}
section.feature .ft_container .ft_content .pic {
  display: flex;
}
section.feature .ft_container .ft_content .pic .idea {
  width: 300px;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}
section.feature .ft_container .ft_content .pic .idea img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.feature .ft_container .ft_content .pic .background {
  width: 300px;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  position: relative;
  right: 10px;
}
section.feature .ft_container .ft_content .pic .background img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.feature .ft_container .ft_content .pic .method {
  width: 300px;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  position: relative;
  right: 20px;
}
section.feature .ft_container .ft_content .pic .method img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
section.feature .ft_container .more_icon {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 50px;
}
section.feature .ft_container .more_icon .more_txt a {
  text-decoration: none;
  font-weight: bold;
  color: #636581;
  border-bottom: 1px solid #636581;
}

@media screen and (max-width: 1199px) {
  section.feature .ft_container {
    width: 900px;
  }
  section.feature .ft_container .ft_content .txt {
    width: 25%;
  }
  section.feature .ft_container .ft_content .txt ul .slogan_2 {
    margin-left: 0;
  }
  section.feature .ft_container .ft_content .txt ul .slogan_3 {
    margin-left: 0;
  }
  section.feature .ft_container .ft_content .pic {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  section.feature {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
  section.feature .ft_container {
    width: 500px;
    margin: auto;
    padding-top: 100px;
  }
  section.feature .ft_container .ft_content .txt {
    display: none;
  }
  section.feature .ft_container .ft_content .pic {
    gap: 20px;
    flex-grow: 1;
    margin-left: 20px;
  }
  section.feature .ft_container .ft_content .pic .idea {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
    position: relative;
  }
  section.feature .ft_container .ft_content .pic .idea img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.feature .ft_container .ft_content .pic .idea::after {
    content: "熱忱的教育理念";
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, 0);
    color: #fff;
    font-weight: bolder;
    text-align: center;
  }
  section.feature .ft_container .ft_content .pic .background {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
  section.feature .ft_container .ft_content .pic .background img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.feature .ft_container .ft_content .pic .background::after {
    content: "專業的研究背景";
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, 0);
    color: #fff;
    font-weight: bolder;
    text-align: center;
  }
  section.feature .ft_container .ft_content .pic .method {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
  section.feature .ft_container .ft_content .pic .method img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 70%;
       object-position: 70%;
  }
  section.feature .ft_container .ft_content .pic .method::after {
    content: "創新的思維方式";
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, 0);
    color: #fff;
    font-weight: bolder;
    text-align: center;
  }
  section.feature .ft_container .more_icon {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 50px;
  }
  section.feature .ft_container .more_icon .more_txt a {
    text-decoration: none;
    font-weight: bold;
    color: #636581;
    border-bottom: 1px solid #636581;
  }
}
section.course {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../index_pic/Class.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 600px 100px;
}
@media screen and (max-width: 767px) {
  section.course {
    background-size: 150px 250px, 300px 200px, 400px 100px;
  }
}
section.course .cr_container {
  width: 1200px;
  margin: auto;
  padding-top: 100px;
}
@media screen and (max-width: 1199px) {
  section.course .cr_container {
    width: 900px;
  }
}
@media screen and (max-width: 767px) {
  section.course .cr_container {
    width: 500px;
  }
}
section.course .cr_container .cr_header {
  padding: 0 50px;
}
section.course .cr_container .cr_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
section.course .cr_container .cr_content {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content {
    width: 100%;
  }
}
section.course .cr_container .cr_content .left_pic {
  width: 300px;
  height: 200px;
  position: relative;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .left_pic {
    display: none;
  }
}
section.course .cr_container .cr_content .left_pic img {
  width: 100%;
  border-radius: 10px;
}
section.course .cr_container .cr_content .txt {
  width: 500px;
  margin: auto;
  position: relative;
  bottom: 180px;
  left: 100px;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: "Noto Sans TC", sans-serif;
}
@media screen and (max-width: 1199px) {
  section.course .cr_container .cr_content .txt {
    left: 200px;
  }
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .txt {
    display: none;
  }
}
section.course .cr_container .cr_content .txt h3 {
  color: #e89b04;
  font-size: 20px;
  font-weight: bold;
}
section.course .cr_container .cr_content .txt p {
  color: #636581;
  font-size: 16px;
  padding: 5px 0;
}
section.course .cr_container .cr_content .txt .activity_icon {
  text-align: right;
}
section.course .cr_container .cr_content .txt .activity_icon .activity_txt a {
  text-decoration: none;
  font-weight: bold;
  color: #636581;
  border-bottom: 1px solid #636581;
}
section.course .cr_container .cr_content .topic_course {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 140px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course {
    display: block;
    width: 100%;
    position: static;
  }
}
section.course .cr_container .cr_content .topic_course .card {
  margin: 20px;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course .card {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
  }
}
section.course .cr_container .cr_content .topic_course .card .exper {
  width: 100%;
  position: relative;
}
section.course .cr_container .cr_content .topic_course .card .exper:hover .mask {
  display: block;
  position: absolute;
}
section.course .cr_container .cr_content .topic_course .card .exper .mask {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course .card .exper .mask {
    display: block;
    position: absolute;
  }
}
section.course .cr_container .cr_content .topic_course .card .exper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.course .cr_container .cr_content .topic_course .card .exper::after {
  content: "主題實驗";
  display: block;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  color: #0369b5;
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course .card .exper::after {
    color: #fff;
  }
}
section.course .cr_container .cr_content .topic_course .card .exper:hover::after {
  content: "主題實驗";
  display: block;
  border-bottom: 1px solid #fff;
  color: #fff;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course .card .exper:hover::after {
    color: #fff;
    border: none;
  }
}
section.course .cr_container .cr_content .topic_course .card .camping {
  width: 100%;
  position: relative;
}
section.course .cr_container .cr_content .topic_course .card:hover .mask {
  display: block;
  position: absolute;
}
section.course .cr_container .cr_content .topic_course .card .mask {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .topic_course .card .mask {
    display: block;
    position: absolute;
  }
}
section.course .cr_container .cr_content .topic_course img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.course .cr_container .cr_content .camping::after {
  content: "科學體驗";
  display: block;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  color: #0369b5;
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .camping::after {
    color: #fff;
  }
}
section.course .cr_container .cr_content .camping:hover::after {
  content: "科學體驗";
  display: block;
  border-bottom: 1px solid #fff;
  color: #fff;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .camping:hover::after {
    color: #fff;
    border: none;
  }
}
section.course .cr_container .cr_content .competition {
  width: 100%;
  position: relative;
}
section.course .cr_container .cr_content .competition:hover .mask {
  display: block;
  position: absolute;
}
section.course .cr_container .cr_content .competition .mask {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .competition .mask {
    display: block;
    position: absolute;
  }
}
section.course .cr_container .cr_content .competition img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section.course .cr_container .cr_content .competition::after {
  content: "專題競賽";
  display: block;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  color: #0369b5;
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .competition::after {
    color: #fff;
  }
}
section.course .cr_container .cr_content .competition:hover::after {
  content: "專題競賽";
  display: block;
  border-bottom: 1px solid #fff;
  color: #fff;
}
@media screen and (max-width: 767px) {
  section.course .cr_container .cr_content .competition:hover::after {
    color: #fff;
    border: none;
  }
}
section.course .cr_container .card > p {
  line-height: 32px;
  padding: 0 10px;
  font-family: "Noto Sans TC", sans-serif;
}

@media screen and (min-width: 768px) {
  .topic_course .card > p {
    display: none;
  }
}
.feature_banner {
  width: 100%;
  margin: 50px 0;
}
.feature_banner img {
  width: 100%;
}

section.news {
  background-image: url(../index_pic/燒瓶-removebg-preview.png), url(../index_pic/分子模型\ 5.png), url(../index_pic/Latest\ News.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 0 top 0, right 0 bottom -20px, left 50px top 50px;
  background-size: 150px 250px, 300px 200px, 400px 100px;
}
@media screen and (max-width: 767px) {
  section.news {
    background-size: 150px 250px, 300px 200px, 300px 100px;
  }
}
section.news .news_container {
  width: 1200px;
  padding: 100px 0;
  margin: auto;
}
@media screen and (max-width: 767px) {
  section.news .news_container {
    width: 500px;
    position: relative;
  }
}
section.news .news_container .news_header {
  padding: 0 50px;
}
section.news .news_container .news_header h2 {
  color: #0369b5;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
section.news .news_container .news_content {
  display: grid;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  grid-template-areas: "Emc card1 DNA" "card2 card1 card3" "card2 flask card3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  color: #333;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content {
    display: flex;
    width: 60%;
    overflow: hidden;
    gap: 10px;
    scroll-behavior: smooth;
  }
}
section.news .news_container .news_content .Emc {
  grid-area: Emc;
  display: flex;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .Emc {
    display: none;
  }
}
section.news .news_container .news_content .Emc img {
  width: 100%;
  border-radius: 10px;
}
section.news .news_container .news_content .card2 {
  grid-area: card2;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card2 {
    width: 100%;
    height: 400px;
    flex-grow: 1;
  }
}
section.news .news_container .news_content .card2 .pic {
  display: flex;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card2 .pic {
    width: 300px;
  }
}
section.news .news_container .news_content .card2 .pic img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  flex-grow: 1;
}
section.news .news_container .news_content .card2 .txt {
  background-color: #e89b04;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Noto Sans TC", sans-serif;
  border-radius: 0 0 10px 10px;
}
section.news .news_container .news_content .card2 .txt h3 {
  font-size: 18px;
  font-weight: bold;
}
section.news .news_container .news_content .card2 .txt p {
  color: #fff;
  padding: 20px 0;
  flex-grow: 1;
  line-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card2 .txt p {
    padding: 20px 0 20px;
    line-height: 35px;
  }
}
section.news .news_container .news_content .card2 .txt .btn {
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  margin: 2px 0;
  padding: 0 3px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
section.news .news_container .news_content .card2 .txt .btn-1 {
  font-weight: 100;
}
section.news .news_container .news_content .card2 .txt .btn-1 svg {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section.news .news_container .news_content .card2 .txt .btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
section.news .news_container .news_content .card2 .txt .btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
section.news .news_container .news_content .card2 .txt .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 60, 90;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
section.news .news_container .news_content .card1 {
  grid-area: card1;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card1 {
    width: 100%;
    height: 400px;
  }
}
section.news .news_container .news_content .card1 .pic {
  display: flex;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card1 .pic {
    width: 300px;
  }
}
section.news .news_container .news_content .card1 .pic img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  border-radius: 10px 10px 0 0;
}
section.news .news_container .news_content .card1 .txt {
  background-color: #5cc60a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Noto Sans TC", sans-serif;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card1 .txt {
    height: 100px;
    flex-grow: 1;
  }
}
section.news .news_container .news_content .card1 .txt h3 {
  font-size: 18px;
  font-weight: bold;
}
section.news .news_container .news_content .card1 .txt p {
  color: #fff;
  padding: 20px 0;
  flex-grow: 1;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
section.news .news_container .news_content .card1 .txt .btn {
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  margin: 2px 0;
  padding: 0 3px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
section.news .news_container .news_content .card1 .txt .btn-1 {
  font-weight: 100;
}
section.news .news_container .news_content .card1 .txt .btn-1 svg {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section.news .news_container .news_content .card1 .txt .btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
section.news .news_container .news_content .card1 .txt .btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
section.news .news_container .news_content .card1 .txt .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 60, 90;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
section.news .news_container .news_content .flask {
  grid-area: flask;
  display: flex;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .flask {
    display: none;
  }
}
section.news .news_container .news_content .flask img {
  width: 100%;
  border-radius: 10px;
}
section.news .news_container .news_content .DNA {
  grid-area: DNA;
  display: flex;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .DNA {
    display: none;
  }
}
section.news .news_container .news_content .DNA img {
  width: 100%;
  flex-grow: 1;
  border-radius: 10px;
}
section.news .news_container .news_content .card3 {
  grid-area: card3;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card3 {
    width: 100%;
    height: 400px;
    flex-grow: 1;
  }
}
section.news .news_container .news_content .card3 .pic {
  display: flex;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card3 .pic {
    width: 300px;
  }
}
section.news .news_container .news_content .card3 .pic img {
  width: 100%;
  flex-grow: 1;
  border-radius: 10px 10px 0 0;
}
section.news .news_container .news_content .card3 .txt {
  background-color: #74cee4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Noto Sans TC", sans-serif;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  section.news .news_container .news_content .card3 .txt {
    height: 100px;
    flex-grow: 1;
  }
}
section.news .news_container .news_content .card3 .txt h3 {
  font-size: 18px;
  font-weight: bold;
}
section.news .news_container .news_content .card3 .txt p {
  color: #fff;
  padding: 20px 0;
  flex-grow: 1;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
section.news .news_container .news_content .card3 .txt .btn {
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  margin: 2px 0;
  padding: 0 3px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
section.news .news_container .news_content .card3 .txt .btn-1 {
  font-weight: 100;
}
section.news .news_container .news_content .card3 .txt .btn-1 svg {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section.news .news_container .news_content .card3 .txt .btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
section.news .news_container .news_content .card3 .txt .btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
section.news .news_container .news_content .card3 .txt .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 60, 90;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
section.news .news_container .icon {
  display: none;
}
@media screen and (max-width: 767px) {
  section.news .news_container .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    position: absolute;
    top: 50%;
  }
  section.news .news_container .icon i {
    background-color: #0369b5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    color: #fff;
    cursor: pointer;
  }
  section.news .news_container .icon .fa-chevron-left:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section.news .news_container .icon .fa-chevron-right:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.returnTop {
  position: fixed;
  bottom: 220px;
  right: 0;
  z-index: 20;
}
.returnTop .circle {
  background-color: #0369b5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.returnTop .circle .arrow_up {
  color: #fff;
  position: relative;
  left: 10px;
  top: 10px;
}/*# sourceMappingURL=style.css.map */